body {
	background-color: black;
	color: gray;
}

header, main, nav, footer {
	text-align: center; 
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	margin-bottom: 0px;
}

nav a { /* links within "nav" container*/
	padding: 15px;
	padding-bottom: 4px;
	font-size: 1.8em;
	text-decoration: none; /*removes underline */
	color: white;          /* by default, links are blue */
}

nav a:hover { /* pseudo class*/
	border-bottom: 2px orange solid;
	font-size: 2em;
	transition: .9s; /*transition effect */
}

nav .current {
	color: orange;
	font-size: 2em;
	transition: .9s; /*transition effect */
}

main {
	display: flex;
	justify-content: center;
	font-size: 1.3em;
}

footer {
	font-size: smaller;
	color: yellow;
}

footer > div {
	display: flex;
	justify-content: center;
}

table {
	margin: 0px auto;
}

td {
	padding-right: 10px;
	font-size: 1.3em;
}

td strong {
	color: orange;
}

#table-header {
	background-color: #351a00;
}

.table-row {
	background-color: #753900;
}

ul {
	margin: 0 auto;
	width: 500px;
	text-align: left;
}

ul li {
	font-size: 1.3em;
}

.hobby {
	color: yellow;
}

#content iframe {
	margin: 0 auto;
}
